p{
    font-size:large;
}
.container > a{
    text-decoration: none;
    color: black;
}
.card *:not(img)  {
    margin-left: 10px;
}
.card > img{
    margin-left: 0%;
    border-radius: 20px;
    width: 100%;
    height: auto;
}
.card:hover{
    background-color: #777777;

}
.card{
    border: 5px;
    border-color: black;
    background-color: #AAAAAA;
}

.container{
    display: grid;
    grid-template-columns: 
        repeat(
            auto-fit,
            minmax(250px, 1fr)
    );
    gap: 32px;
}
.container > img{
    align-items: center;
    width: auto;
    height: 100px;
}
.presentation{
    display: flex;
}
.description{
    margin-left: 32px;
}
.presentation > .image{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.presentation > div > img{
    width: 400px;
    height: auto;
}